body {
    width: 1000px;
    margin-left: 100px;
}

header {
    width: 900px;
    height: 250px;
    background-color: lightgray;
    border: 2px solid rgba(158, 154, 14, 0.5);
}

#prev {
    width: 100px;
    height: 100px;
}

#next {
    width: 100px;
    display: inline;
}

#fotobox {
    display: inline;
}

#foto1 {

}

#foto2 {

}

#foto3 {

}

#summary {

}

#programma {

}

#info {

}

#info {

}

#lokatie {

}

#form {

}

