* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 1000px;
    margin-left: 100px;
}

header {
    width: 900px;
    height: 300px;
    background-color: lightgray;
    border: 2px solid rgba(158, 154, 14, 0.5);
    margin-bottom: 60px;
}

#links, #rechts {
    z-index: 1;
    color: rgba(13, 12, 12, 1);
    font-weight: 900;border: 2px solid rgba(46, 45, 43, 0.8);
    background-color: rgba(171, 165, 150, 0.5);
    border-radius: 15px

}

#links {
    position: absolute;
    margin: 125px 0 0 20px;
    padding: 10px;
    float: left;
}

#rechts {
    position: absolute;
    display: inline;
    margin-top:125px;
    padding: 10px;
}

#volgende {
    padding-left: 835px;
}

#fotobox {
    position: relative;
    display: inline;
    margin: auto;
    overflow: hidden;
}

#foto1 {

}

#foto2 {

}

#foto3 {

}

.active {
    display: block;
}

.inactive {
    display: none;
}

ul {

}

#list1, #list2 {
    list-style-type: none;
    padding: 20px;
}

li {
    display: inline-block;g
    background-color: darkslategray;
}

#summary {

}

#programma {

}

#info {

}

#info {

}

#lokatie {

}

#form {

}

